body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background: #222;
    color: white;
    padding: 40px 0;
}

section {
    padding: 30px;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #0077ff;
    color: white;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}

footer {
    background: #222;
    color: white;
    padding: 15px;
}